[submodule "UESDK"]
  path = dependencies/submodules/UESDK
  url = git://github.com/Aeyth8/UESDK.git

[submodule "glm"]
  path = dependencies/submodules/glm
  url = git://github.com/g-truc/glm.git

[submodule "imgui"]
  path = dependencies/submodules/imgui
  url = git://github.com/ocornut/imgui.git

[submodule "spdlog"]
  path = dependencies/submodules/spdlog
  url = git://github.com/gabime/spdlog.git
